@import "variables";
@import "mixins";

//reset style start

*, a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

//reset style end

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: $fontInter;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: $colorBlack;
}

body.lock {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $colorGreyLight;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #2657A4;
}

.btn-blue {
  @include btnBlue;
}

.subtitle {
  font-size: 44px;
  font-weight: 600;
  line-height: 130%;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.5s ease-in-out;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 83px;
  height: 33px;
}

.switch__slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  background-color: $colorBlueLight;
}

.switch__checkbox {
  display: none;
}

.switch__slider:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 36px;
  height: 23px;
  border-radius: 20px;
  background-color: $colorBlue;
  transition: all .15s ease-in-out;
}

.switch__checkbox:checked + .switch__slider:before {
  transform: translateX(35px);
}


.animate-translateY {
  opacity: 1;
  transform: translateY(0);
}

.animate-translateX {
  opacity: 1;
  transform: translateX(0);
}

// header start

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity .5s ease-in-out, transform .5s ease-in-out, background-color .2s ease-in-out;
}

.header.animate-translateY {
  opacity: 1;
  transform: translateY(0);
}

.header.scroll {
  background-color: rgba(255, 255, 255, .8);
}

.header__wrapper {
  height: 89px;
  margin: auto;
  @include displayFlex;
  gap: 10px;
  transition: all .2s ease-in-out;
}

.header__logo {
  height: 51px;
  cursor: pointer;
}

.header__menu {
  width: 706px;
  @include displayFlex;
}

.header__nav {
  @include displayFlex;
  max-width: 486px;
  width: 100%;
}

.header__nav-item {
  position: relative;
}

.header__nav-item {

  &:before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1.5px;
    opacity: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $colorBlue 50%, rgba(255, 255, 255, 0) 100%);
  }

  &:hover:before {
    bottom: -5px;
    opacity: 1;
    transition: all .15s ease-in-out;
  }

}

.header__nav-link {
  color: $colorGreyMain;
}

.header__menu-btn {
  text-transform: uppercase;
}

.header__btn-menu {
  position: relative;
  display: none;
  width: 35px;
  height: 30px;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: $colorBlack;

    &:nth-of-type(1) {
      top: 0;
      transition: top .15s .15s, transform .15s
    }

    &:nth-of-type(2) {
      top: 45%;
      transition: opacity .1s .15s;
    }

    &:nth-of-type(3) {
      bottom: 1px;
      transition: bottom .15s .15s, transform .15s
    }
  }
}

.header__btn-menu.active {

  span {
    &:nth-of-type(1) {
      top: 45%;
      transform: rotate(45deg);
      transition: transform .15s .15s, top .15s;
    }

    &:nth-of-type(2) {
      opacity: 0;
      transition: opacity .05s .15s;
    }

    &:nth-of-type(3) {
      bottom: 45%;
      transform: rotate(-45deg);
      transition: transform .15s .15s, top .15s;
    }
  }

}

// header end

// main start

// inner start

.inner {
  padding: 177px 0 80px 0;
  background-image: url("../img/inner/inner-background.png");
  background-size: cover;
  margin-bottom: 140px;
}

.inner__wrapper {
  @include displayFlex;
  max-width: 1286px;
}

.inner__block {
  max-width: 498px;
  min-width: 350px;
  opacity: 0;
  transform: translateX(-250px);
  transition: all .5s ease-in-out;
}

.inner__block.animate-translateX {
  opacity: 1;
  transform: translateX(0);
}

.inner__title {
  margin-bottom: 25px;
  font-size: 62px;
  font-weight: 600;
  line-height: 120%;
  color: $colorBlack;

  .text-blue {
    color: $colorBlue
  }
}

.inner__text {
  margin-bottom: 35px;
}

.inner__btn {
  max-width: 216px;
}

.inner__img {
  min-width: 100px;
  opacity: 0;
  transform: translateX(250px);
  transition: all .5s ease-in-out;
}

.inner__img.animate-translateX {
  opacity: 1;
  transform: translateX(0);
}

// inner end

// advantages start

.advantages__img-wrapper {
  opacity: 0;
  transform: translateX(-200px);
  transition: all .5s ease-in-out;
}

.advantages__img-wrapper.animate-translateX {
  opacity: 1;
  transform: translateX(0);
}

.advantages {
  position: relative;
  margin-bottom: 140px;
}

.advantages__background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.advantages__wrapper {
  @include displayFlex;
  gap: 10px;
}

.advantages__block {
  max-width: 416px;
  opacity: 0;
  transform: translateX(100px);
  transition: all .5s ease-in-out;
}

.advantages__block.animate-translateX {
  opacity: 1;
  transform: translateX(0);
}

.advantages__title {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 600;
  line-height: 130%;
}

.advantages__list-item {
  position: relative;
  padding-left: 49px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 24px;
    height: 22px;
    background-image: url("../img/advantages/arrow-list.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:nth-child(2) {
    &:before {
      background-image: url("../img/advantages/arrow-list-1.png");
    }
  }

  &:nth-child(3) {
    &:before {
      background-image: url("../img/advantages/arrow-list-2.png");
    }
  }
}

.advantages__list-title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
}

.advantages__list-text {
  font-size: 14px;
  line-height: 160%;
}

// advantages end

// services start

.services {
  margin-bottom: 200px;
}

.services__title {
  max-width: 549px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.services__list {
  position: relative;
  @include displayFlex;
  gap: 10px;
  margin: auto;
}

.services__list-item {
  display: flex;
  justify-content: center;
  position: relative;
  width: 265px;
  max-width: 265px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: all .5s ease-in-out;

  &:nth-of-type(2) {
    transition: all .5s .1s ease-in-out;
  }

  &:nth-of-type(3) {
    transition: all .5s .2s ease-in-out;
  }

  &:nth-of-type(4) {
    transition: all .5s .3s ease-in-out;
  }
}

.services__list-item.animate-translateY {
  opacity: 1;
  transform: translateY(0);
}

.services__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
  padding: 40px 25px;
  border-radius: 10px;
  box-shadow: 0 6px 50px 5px rgba(6, 14, 26, 0.05);
  background-color: $colorWhite;
  transition: all .2s ease-in-out;
}

.services__list-link:hover .services__list-item__background {
  bottom: -4px;
  opacity: 1;
}

.services__list-item__background {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 265px;
  opacity: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(64, 117, 225, 0.00) 0%, #3854D3 100%), #FFF;
  transition: bottom .2s ease-in-out, opacity .2s ease-in-out;
}

.services__list-img {
  margin-bottom: 50px;
}

.services__list-title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
}

.services__list-text {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 160%;
  color: $colorGreyMain;
}

// services end

//pricing start

.pricing {
  margin-bottom: 140px;
}

.pricing__title {
  text-align: center;
  margin-bottom: 30px;
}

.pricing__block-btn {
  @include displayFlex;
  max-width: 373px;
  margin: 0 auto 60px auto;
  opacity: 0;
  transform: translateY(-100px);
  transition: all .5s ease-in-out;
}

.pricing__block-btn.animate-translateY {
  opacity: 1;
  transform: translateY(0);
}

.pricing__block-btn__text {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  transition: all .15s ease-in-out;
}

.pricing__block-btn__text.blur {
  color: $colorGreyMain;
  opacity: .7;
}

//
.pricing__list {
  @include displayFlex;
  gap: 10px;
  margin: auto;
}

.pricing__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  box-shadow: 0 6px 50px 5px rgba(6, 14, 26, 0.05);
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease-in-out;

  &:nth-of-type(2) {
    transition: all .5s .1s ease-in-out;
  }

  &:nth-of-type(3) {
    transition: all .5s .2s ease-in-out;
  }

  &:hover .pricing__list-background {
    opacity: 1;
    bottom: -4px;
  }

  &:hover .pricing__list-btn {
    background-color: $colorBlue;
    color: $colorWhite;
  }

  &:hover .pricing__list-name {
    color: $colorWhite;
  }

  &:hover .pricing__list-price {
    color: $colorWhite;
  }

  &:hover .pricing__list-wave {
    transform: translateY(-11%) translateX(0%);
  }
}

.pricing__list-item.animate-translateY {
  opacity: 1;
  transform: translateY(0);
}

.pricing__list-background {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(64, 117, 225, 0.00) 0%, #3854D3 100%), #FFF;
  transition: all .2s ease-in-out;
}

.pricing__list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 366px;
  padding: 50px 68px;
  overflow: hidden;
  border-radius: 10px;
  background-color: $colorWhite;

  .z-index {
    z-index: 2;
  }
}

.pricing__list-wave {
  position: absolute;
  z-index: 1;
  top: -2px;
  width: 838px;
  height: 211px;
  transform: translateY(-100%) translateX(-30%);
  background: url("../img/prices/wave.png");
  background-position: center;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
}

.pricing__list-name {
  margin-bottom: 13px;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  color: $colorGreyMain;
  transition: all .2s ease-in-out;
}

.pricing__list-line {
  margin-bottom: 7px;
}

.pricing__list-price {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  transition: all .2s ease-in-out;
}

.pricing__list-text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: $colorGreyMain;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.pricing__list-btn {
  @include btnGrey;
  transition: all .2s ease-in-out;
}

.slider-prices {
  overflow: initial;

  .swiper {
    max-width: 400px;
    margin: auto;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: $colorBlue;
}

.swiper-pagination-bullet-active {
  background-color: $colorBlue;
}

//pricing end

// users start

.users {
  position: relative;
  margin-bottom: 140px;
}

.users-wrapper {
  max-width: 1495px;
}

.users__subtitle {
  margin-bottom: 30px;
  text-align: center;
}

.users__text {
  max-width: 670px;
  margin: 0 auto 60px auto;
  text-align: center;
  font-weight: 400;
  line-height: 160%;
  opacity: 0;
  transform: translateY(-100px);
  color: $colorGreyMain;
  transition: all .5s ease-in-out;
}

.users__text.animate-translateY {
  opacity: 1;
  transform: translateY(0);
}

.users__block {
  position: relative;
  overflow: visible;
}

.users__card {
  z-index: 1;
  position: absolute;
  top: 3%;
  left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 152px;
  opacity: 0;
  transform: translateY(50px);
  transition: all .6s ease-in-out;

  &:nth-of-type(2) {
    left: 28%;
    top: 52%;
    transition: all .6s .1s ease-in-out;
  }

  &:nth-of-type(3) {
    left: 40%;
    top: 25%;
    transition: all .6s .2s ease-in-out;
  }

  &:nth-of-type(3) .users__card-img {
    max-width: 84px;
    transition: all .2s ease-in-out;
  }

  &:nth-of-type(4) {
    left: 66%;
    top: 7%;
    transition: all .6s .4s ease-in-out;
  }

  &:nth-of-type(5) {
    left: 74%;
    top: 52%;
    transition: all .6s .5s ease-in-out;
  }
}

.users__card.animate-translateY {
  opacity: 1;
  transform: translateY(0);
}

.users__card-img {
  z-index: 10;
  position: relative;
  margin-right: 22px;
  border-radius: 50%;
  border: 2px solid $colorGreyMain;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:last-child {
    max-width: 80px;
  }

  &:hover {
    transform: scale(112%);
    border-color: $colorBlue;
  }

}

.users__card-img:hover + .users__card-block {
  opacity: 1;
  transform: translateY(0px);
}

.users__card-block {
  z-index: 999;
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  max-width: 329px;
  padding: 35px 48px 10px 48px;
  border-radius: 10px;
  background: linear-gradient(105deg, rgba(58, 114, 226, 0.80) -46.84%, #1937C3 168.76%), #FFF;
  box-shadow: 0px 0px 50px 10px rgba(6, 14, 26, 0.30);
  transition: all .2s ease-in-out;
}

.users__card-quote {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 160%;
  color: $colorWhite;

  &:before {
    content: '';
    position: absolute;
    left: -27px;
    width: 23px;
    height: 19px;
    background-image: url('../img/users/user-quote.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  &:after {
    content: '';
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 23px;
    height: 19px;
    background-image: url('../img/users/user-quote.png');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg) scale(1, -1);
  }
}

.slider-users {
  display: none;

  .swiper-wrapper {
    gap: 10px;
  }
}

.users__card-name {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: $colorWhite;
}

.users__card-post {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: $colorWhite;
}

.users__block__background {
  opacity: 0;
}

.users__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.users-slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.users-slider__card-img {
  max-width: 80px;
  margin-bottom: 30px;
}

.users-slider__card-block {
  max-width: 329px;
  padding: 35px 48px 10px 48px;
  border-radius: 10px;
  background: linear-gradient(105deg, rgba(58, 114, 226, 0.8) -46.84%, #1937C3 168.76%), #FFF;
}


.users-slider__card-quote {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 160%;
  color: #ffffff;
}

.users-slider__card-name {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: #ffffff;
}

.users-slider__card-post {
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  color: #ffffff;
}

// users end

// news start

.news {
  margin-bottom: 140px;
}

.news__title {
  margin-bottom: 60px;
  text-align: center;
}

.news__block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.news__card {
  display: flex;
  flex-direction: column;
  max-width: 555px;
  opacity: 0;
  transform: translateX(-250px);
  transition: all .5s ease-in-out;

  &:nth-of-type(2) {
    transform: translateX(250px);
  }
}

.news__card.animate-translateX {
  opacity: 1;
  transform: translateX(0);
}

.news__card-img {
  margin-bottom: 30px;
}

.news__card-department {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: $colorGreyMain;
}

.news__card-author {
  @include displayFlex;
  margin-bottom: 20px;
}

.news__author-text {
  margin-right: 60px;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}

.news__card-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
}

.news__card-text {
  max-width: 339px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 160%;
}

.news__card-link {
  @include btnBlue;
  max-width: 135px;
  margin-top: auto;
}

// news end

// footer start

.footer {
  background-color: $colorBlueLight;
}

.footer-wrapper {
  max-width: 1140px;
  margin: auto;
  padding: 100px 0 35px 0;
}

.footer__top {
  @include displayFlex;
  //gap: 15px;
  margin-bottom: 76px;
}

.footer__block {
  max-width: 288px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: $colorGreyMain;
}

.footer__block-text {
  margin-bottom: 30px;
}

.footer__social {
  @include displayFlex;
}

.footer__social-item {
  width: 41px;
  height: 41px;
  transition: transform .2s ease-in-out;
}

.footer__social-item:hover {
  transform: scale(120%);
}

.footer__block-title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__list-link {
  position: relative;
  line-height: 160%;
  color: $colorGreyMain;

  &:before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1.5px;
    opacity: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $colorBlue 50%, rgba(255, 255, 255, 0) 100%);
  }

  &:hover:before {
    bottom: -5px;
    opacity: 1;
    transition: all .15s ease-in-out;
  }
}

.footer__form {
  @include displayFlex;
  max-width: 288px;
  height: 56px;
}

.footer__form-text {
  height: 56px;
  padding: 15px 0 15px 30px;
  border-radius: 5px 0 0 5px;
  border: 2px solid $colorGreyMain;
  border-right: 0;
  font-size: 16px;

  &::placeholder {
    font-weight: 600;
    color: $colorGreyMain;
    opacity: .6;
  }

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: none;
    border: 2px solid $colorGreyMain;
    border-right: 0;
  }
}

.footer__form-btn {
  @include btnBlue;
  height: 56px;
  border-radius: 0 5px 5px 0;
}

.footer__line {
  width: 100%;
  height: 2px;
  margin-bottom: 30px;
  opacity: .2;
  background-color: $colorBlue;
}

.footer__copy {
  text-align: center;
  font-weight: 500;
  color: $colorGreyMain;
}

// footer end

// main end

@media (max-width: 1920px) {
  .users__card {

  }
}

@media (max-width: 1240px) {
  .wrapper {
    padding: 0 10px;
  }

  .footer-wrapper {
    padding: 100px 10px 35px 10px;
  }

  .pricing__list-btn {
    height: 59px;
    width: 200px;
    padding: 0;
  }

  .pricing__list-item {
    width: 329px;
  }

  .pricing__list-wrapper {
    max-width: 325px;
  }

  .users__card-img {
    width: 60px;
  }

  .users__card-block {
    max-width: 273px;
    padding: 35px 24px 10px 24px;
  }

  .users__card-quote {
    &:before {
      left: 0;
    }

    &:after {
      right: 20px;
    }
  }

  .footer__form-text {
    width: 70%;
  }

  .footer__form-btn {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .inner__title {
    font-size: 50px;
  }

  .services__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 262px));
    max-width: 550px;
    gap: 30px;
  }

  .pricing__list-item {
    width: 300px;
  }

  .pricing__list-wrapper {
    max-width: 296px;
  }

  .users__block {
    display: none;
  }

  .users__block__background {
    display: none;
  }

  .slider-users {
    display: block;
  }
}


@media (max-width: 980px) {

  .pricing__list-item {
    width: 370px;
    padding: 0 30px 50px 30px;
  }

  .pricing__list-wrapper {
    max-width: 366px;
    padding: 0;
  }

  .pricing__list-item {
    box-shadow: none;
  }

  //
  .pricing__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    box-shadow: 0 6px 50px 5px rgba(6, 14, 26, 0.05);

    &:hover .pricing__list-background {
      opacity: 1;
      bottom: -4px;
    }

    &:hover .pricing__list-btn {
      background-color: $colorBlue;
      color: $colorWhite;
    }

    &:hover .pricing__list-name {
      color: inherit;
    }

    &:hover .pricing__list-price {
      color: inherit;
    }

  }
  //

  .pricing__list-background {
    display: none;
  }

  .pricing__list-name {
    font-size: 25px;
  }

  .pricing__list-wave {
    display: none;
  }

  .pricing__list-price {
    font-size: 40px;
  }

  .pricing__list-text {
    font-size: 20px;
  }

  .pricing__list-btn {
    max-width: 250px;
  }

  .slider-prices {
    .swiper-button-next, .swiper-button-prev {
      display: block;
    }

    .swiper-slide {
      width: 100%;
    }
  }

  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 288px));
    gap: 30px;
    max-width: 650px;
    margin: 0 auto 76px auto;
  }
}

@media (max-width: 850px) {

  .header {
    background-color: $colorWhite;
  }

  .header__menu {
    position: absolute;
    top: 89px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: $colorWhite;
    transition: all .3s ease-in-out;
  }

  .header__menu.active {
    height: 100vh;
    padding-top: 40px;
    overflow: initial;
  }

  .header__nav {
    flex-direction: column;
    overflow: hidden;
  }

  .header__nav-item {
    margin-bottom: 30px;
  }

  .header__nav-link {
    font-size: 32px;
  }

  .header__btn-menu {
    display: block;
  }

  .inner__wrapper {
    flex-direction: column;
  }

  .inner__block {
    @include displayFlexMobile;
    margin-bottom: 40px;
  }

  .advantages__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .advantages__block {
    margin-bottom: 40px;
  }

  .advantages__background {
    top: 30%;
  }
}

@media (max-width: 768px) {
  .users__img {
    display: none;
  }
}

@media (max-width: 650px) {

  .header__wrapper {
    height: 70px;
  }

  .header__menu {
    top: 70px;
  }

  .news__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

}

@media (max-width: 590px) {
  .subtitle {
    font-size: 35px;
  }

  .inner__title {
    font-size: 40px;
  }

  .services__list {
    grid-template-columns: repeat(1, minmax(200px, 262px));
    justify-content: center;
  }

  .footer__top {
    grid-template-columns: repeat(1, minmax(200px, 288px));
    justify-content: center;
  }
}

@media (max-width: 450px) {

  .inner__title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 30px;
  }

  .pricing__list-item {
    width: 330px;
  }

  .pricing__block-btn__text {
    font-size: 20px;
  }

  .pricing__list-wrapper {
    max-width: 330px;
  }

  .switch {
    width: 70px;
  }
  .switch__slider:before {
    width: 30px;
  }

  .slider-users {
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }
}