$fontInter: 'Inter', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$colorWhite: #ffffff;
$colorGreyMain: #51565E;
$colorBlack: #060E1A;
$colorBlue: #2657A4;
$colorBlueLight: rgba(38, 87, 164, 0.10);
